// Loader
.loader {
  &::after {
    content: "";
    @include positionItem(absolute, 0, initial, 0, initial, var(--backRightIn));
    @include transition(1s);
    background: #fff;
    width: 50%;
    height: 100%;
  }
  &::before {
    content: "";
    @include positionItem(absolute, 0, initial, initial, 0, var(--backLefttIn));
    @include transition(1s);
    background: #fff;
    width: 50%;
    height: 100%;
  }
  .spinner {
    .item {
      &.item-1 {
        background-color: #166434;
        top: 0;
        left: 0;
        z-index: 1;
        animation: item-1_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
      }
      &.item-2 {
        background-color: #d2b065;
        top: 0;
        right: 0;
        animation: item-2_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
      }
      &.item-3 {
        background-color: #00396a;
        bottom: 0;
        right: 0;
        z-index: 1;
        animation: item-3_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
      }
      &.item-4 {
        background-color: #000000;
        bottom: 0;
        left: 0;
        animation: item-4_move 1.8s cubic-bezier(0.6, 0.01, 0.4, 1) infinite;
      }
    }
  }
  @keyframes item-1_move {
    0%,
    100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(0, 30px);
    }
    50% {
      transform: translate(30px, 30px);
    }
    75% {
      transform: translate(30px, 0);
    }
  }
  @keyframes item-2_move {
    0%,
    100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(-30px, 0);
    }
    50% {
      transform: translate(-30px, 30px);
    }
    75% {
      transform: translate(0, 30px);
    }
  }
  @keyframes item-3_move {
    0%,
    100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(0, -30px);
    }
    50% {
      transform: translate(-30px, -30px);
    }
    75% {
      transform: translate(-30px, 0);
    }
  }
  @keyframes item-4_move {
    0%,
    100% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(30px, 0);
    }
    50% {
      transform: translate(30px, -30px);
    }
    75% {
      transform: translate(0, -30px);
    }
  }
}

// Header
header {
  ul {
    li {
      &.active {
        a {
          color: #fff !important;
          &::after {
            top: 0px;
          }
        }
      }
      a {
        &::after {
          content: "";
          @include positionItem(absolute, -100px, initial, 0, 0, initial);
          @include transition(0.5s);
          width: 100%;
          height: 100%;
          background-color: #166434;
          z-index: -1;
        }
      }
    }
  }
}

// Click Nav
.click-nav {
  .handle {
    height: 1px;
    width: 35px;
    margin: 10px auto;
    transition: all 350ms cubic-bezier(0.28, 0.55, 0.385, 1.65);
    transition-timing-function: cubic-bezier(0.28, 0.55, 0.385, 1.65);
  }
  .closed {
    transform: rotate(45deg);
    width: 35px;
    position: relative;
    top: -5px;
    &:nth-of-type(1) {
      top: 5px;
    }
    &:nth-of-type(2) {
      transform: rotate(-45deg);
    }
    &:nth-of-type(3) {
      display: none;
    }
  }
}

// Slider Home
.main-body-slider {
  #sliderHome {
    .owl-stage-outer {
      overflow: initial !important;
    }
    .owl-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0;
      bottom: 20px;
      width: 100%;
      button {
        width: 20px;
        height: 7px;
        border-radius: 50px;
        background-color: #fff;
        margin: 0 3px;
        opacity: 0.5;
        &.active {
          width: 35px;
          opacity: 1;
        }
      }
    }
    .owl-item.active {
      .item {
        img {
          transition: 1s;
          animation-name: translateInfo;
          animation-fill-mode: both;
          animation-duration: 1s;
          animation-delay: 1s;
        }
      }
      .over-info {
        h1,
        p,
        span {
          transition: 1s;
          animation-name: translateInfo;
          animation-fill-mode: both;
        }
        h1 {
          animation-duration: 1s;
          animation-delay: 1s;
        }
        p {
          animation-duration: 1.5s;
          animation-delay: 1.5s;
        }
        span {
          animation-duration: 2s;
          animation-delay: 2s;
        }
      }
    }
    @keyframes translateInfo {
      from {
        opacity: 0;
        visibility: hidden;
        transform: translateY(50px);
      }
      to {
        opacity: 1;
        visibility: initial;
        transform: translateY(0px);
      }
    }
  }
}

// Shape
.shapeCss {
  width: 0;
  height: 0;
  border-top: 75px solid red;
  border-right: 75px solid transparent;
}

/*# sourceMappingURL=global.css.map */

.countdown__time--orange {
  color: #f2572f !important;
}

.countdown__time--red {
  color: #ff3400 !important;
}

.countdown__reset {
  &[disabled] {
    filter: grayscale(2);
    cursor: no-drop;

    span {
      color: #a0a0a0;
    }
  }

  span {
    color: black;
  }
}

/* START:: LIST COUNTRIES */
.btn_select {
  width: 115px;
  height: 40px;
  border-radius: 10px;
  background-color: transparent;
  border: 0 !important;
  box-shadow: none !important;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAARBJREFUaEPtl1EOwjAMQ7ObwcmAk42jQT6KULUOmpcITbg/Q6ri+dnd0BY7+FoO7t8E8OsG1YAagAnoCMEA8bgawBFCATUAA8TjagBHCAXUAAwQj/99Ayczu8MYkQZp4GpmFzO7PQH8d2RhjShAu3EzHYHI0Ah9Unrl60bcMxC9+SZ3nj2SWQ3MNDEyPxPAK78ogAtEjERmdp8tAjALkW7eDVCAbyFKzGcBfILwfX/d9it05nuRjAaa5ijlrTOcYj6zgRmINPMVAHvHyfdSzVcBjCDSzVcC9BAl5qsBGsT7dfdPKbKZ+RaK3B/PCABHCAXUAAwQj6sBHCEUUAMwQDyuBnCEUEANwADxuBrAEUKBB7c/LDHYu3A3AAAAAElFTkSuQmCC");
  background-size: 20px;
  background-position: center left 1rem;
  background-repeat: no-repeat;
  padding-inline-end: 1.5rem;
}

.btn_select li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  img {
    max-width: 20px;
  }
  span {
    direction: ltr;
  }
}

.btn_select:hover li {
  margin: 0px;
  cursor: pointer;
}

.btn_select:hover {
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: inset 0 0px 0px 1px #ccc;
}

.btn_select:focus {
  outline: none;
}

.lang-select {
  margin-inline-end: 10px;
  position: absolute;
  margin: 0;
  height: 100%;
  left: 0;
  display: flex;
  align-items: center;
  top: 0;
}

.vodiapicker {
  display: none;
}

.lang_list #loop_list_language {
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.lang_list #loop_list_language li {
  list-style: none;
  margin-block: 5px;
  cursor: pointer;
  margin: 0;
}

.lang_list #loop_list_language li:hover {
  background-color: #f4f3f3;
}

.mobile_select img {
  margin-inline-end: 5px;
  width: 22px;
  height: 17px;
}

#loop_list_language img {
  width: 22px;
  height: 15px;
}

.lang_list {
  display: none;
  position: absolute;
  background-color: #fcfcfc;
  width: 100%;
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 5px;
  padding: 10px 5px;
  top: 112%;
  z-index: 99;
  max-height: 150px;
  overflow: auto;
}

// Style Calender
#datepicker-inline {
  .datepicker-picker {
    background-color: #fafafa;
    width: 100%;
    padding: 0;
  }
  .datepicker-main {
    padding: 0;
    .datepicker-view {
      width: 100%;
      .days {
        width: 100%;
        .days-of-week {
          background-color: #fff;
          padding: 10px;
        }
        .datepicker-grid {
          width: 100%;
          span {
            color: #000;
            margin: 7px 0;
            &:hover {
              background-color: #e9e9e9;
              color: #000;
            }
            &.focused,
            &.selected {
              background-color: #ffc82c;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .datepicker-controls {
    padding: 15px;
    button {
      &:nth-child(1),
      &:nth-child(3) {
        background-color: #ffc82c;
        color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:nth-child(2) {
        background-color: transparent;
        color: #000000;
      }
    }
  }
}

// Select2
.select2 {
  &.not-style {
    .select2-selection {
      background-color: transparent;
      border: 0;
      border-radius: 0;
    }
  }
}

.heart-icon {
  font-size: 24px;
  color: gray;
  cursor: pointer;
  transition: color 0.3s ease;
}

.heart-icon.favorited {
  color: red;
}

// media
@media (max-width: 767px) {
  // Slider Home
  .main-body-slider {
    #sliderHome {
      .owl-stage-outer {
        overflow: hidden !important;
      }
      .owl-dots {
        position: relative;
        bottom: 0px;
        padding: 10px 0;
      }
    }
  }
}
