// Slider Home
.main-body-slider{
    #sliderHome{
        .owl-item.active{
            .over-info{
                h1, p{
                    transition: 1s;
                    animation-name: translateInfo;
                    animation-fill-mode: both;
                }
                h1{
                    animation-duration: 1s;
                    animation-delay: 1s;
                }
                p{
                    animation-duration: 1.5s;
                    animation-delay: 1.5s;
                }
            }
        }
        @keyframes translateInfo {
            from {
              opacity: 0;
              visibility: hidden;
              transform: translateY(50px);
            }
            to {
              opacity: 1;
              visibility: initial;
              transform: translateY(0px);
            }
        }
    }
}
.owl-dots{
    display: none;
}